body {
    padding-top: 5rem;
    background-color: #f3f4f6;
}

.page-header{
    font-weight: bold;
}

.fullborder{
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    padding-right: 300px;
}

.form-group {
    width: 100%;
    overflow: hidden;
}
  
.form-group > div {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 20px;
}
.form-control{
    height: 50px;
}
.desc .form-control{
    height: 100px;
}



.card{
    width: 30%;
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.card img{
    border-radius: 5px 5px 0 0;
}
.properties {
    display: flex;
    flex-wrap: wrap;
}
.card h2{
    padding-left: 20px;
}
.card p{
    padding-left: 20px;
}
.card a{
    background-color: #14b7a6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0 0 5px 5px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    
}
.card .priceline{
    background-color: #60a3fd;
    color: white;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 60%;
    margin-bottom: 30px;
}
.card p.locations{
    color: #c7c8ca;
}

.imgclass img{
    margin-top: 40px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.row{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.realtor{
    background-color: #14b7a6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}