{% extends 'base.html' %} 

{% block main %}
<div class="row">
    <div class="col-md-6">
        <div class="imgclass">
            <img src="{{ url_for('uploaded_file', filename=property.photo) }}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="text">
            <h1 class="page-header">{{ property.title }}</h1>
            <div class="row">
                <div class="col-md-3"><p>${{ property.price }}</p></div>
                <div class="col-md-3"><p>{{ property.propertytype }}</p></div>
            </div>
            <p>{{ property.description }}</p>
            <div class="row">
                <div class="col-md-3"><p><i class="fas fa-bed"></i> {{ property.roomnum }} bedrooms</p></div>
                <div class="col-md-3"><p><i class="fas fa-shower"></i> {{ property.bathnum }} bathrooms</p></div>
            </div>
            <p><i class="fas fa-map-marker"></i> {{ property.location }}</p>
            <button class="realtor">Email Realtor</button>
        </div>
    </div>
</div>
{% endblock %}